<div class="container-fluid p-0">
  <%= render partial: 'admin/partials/sidebar'%>
  <div class="main">
    <%= render partial: 'admin/partials/header'%>
    <div class="orders">
      <%= link_to "Добавить", new_admin_section_path, class: "btn btn-primary mb-3" %>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Дата добавления</th>
        </tr>
        </thead>
        <tbody>
        <% @sections.each do |section| %>
          <tr>
            <th>
              <a href="<%= admin_section_path(section) %>">
              <%= section.title %>
              </a>
            </th>
            <td><%= section.body %></td>
            <td><%= section.updated_at.strftime("%d.%m.%Y | %H:%M") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>