<div class="container-fluid p-0">
  <%= render partial: 'admin/partials/sidebar'%>
  <div class="main">
    <%= render partial: 'admin/partials/header'%>
    <div class="orders">
      <%= form_with model: @section, url: admin_section_path(@section), method: :patch do |form| %>
        <div class="mb-3">
          <%= form.label "Название", class: "form-label" %>
          <%= form.text_field :title, class: "form-control form-field", disabled: true %>
        </div>

        <div class="mb-3">
          <%= form.label "Описание", class: "form-label" %>
          <%= form.text_area :body, class: "form-control form-field", rows: 16, disabled: true %>
        </div>
      <% end %>

      <%= link_to "Изменить", edit_admin_section_path(@section), class: "btn btn-primary" %>
      <%= link_to "Удалить", admin_section_path(@section), data: {
          turbo_method: :delete,
          turbo_confirm: "Вы уверены?",
      }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
