<div class="container-fluid p-0">
  <%= render partial: 'admin/partials/sidebar'%>
  <div class="main">
    <%= render partial: 'admin/partials/header'%>
    <div class="orders">
      <%= form_with(model: [:admin, @contact], local: true, multipart: true) do |form| %>
        <div>
          <%= form.label 'Описание', class: "form-label" %><br>
          <%= form.text_area :body, class: "form-control", rows: 20 %><br>
          <% @contact.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Телефон 1', class: "form-label" %><br>
          <%= form.text_field :tel1, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Телефон 2', class: "form-label" %><br>
          <%= form.text_field :tel2, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Телефон 3', class: "form-label" %><br>
          <%= form.text_field :tel3, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Email 1', class: "form-label" %><br>
          <%= form.text_field :email, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Email 2', class: "form-label" %><br>
          <%= form.text_field :email2, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Whatsapp', class: "form-label" %><br>
          <%= form.text_field :whatsapp, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Telegram', class: "form-label" %><br>
          <%= form.text_field :telegram, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Instagram', class: "form-label" %><br>
          <%= form.text_field :instagram, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.label 'Address', class: "form-label" %><br>
          <%= form.text_field :address, class: "form-control" %>
          <% @contact.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>

        <div>
          <%= form.submit "Сохранить", class: "btn btn-primary mb-3" %>
        </div>
      <% end %>

    </div>
  </div>
</div>